.isotope-container .item {
    width: 310px;
    margin: 0 10px; 
}

.isotope-container .item .card {
    transform: scale(0.9); 
    transition: transform 0.3s ease; 
}

.isotope-container .item:hover .card {
    transform: scale(1); 
}

.isotope-container .item .card img {
    max-height: 250px; 
    min-height: 249px;
    object-fit: cover; 
}

.isotope-container .item .card-body h3 {
    font-size: 1.5rem; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
    min-height: 8vh;
    max-height: 8vh;
}


.isotope-container .item .card-text .rating {
    font-size: 0.8rem; 
}

.isotope-container .item .card-text h3 {
    font-size: 1.5rem; 
}

.isotope-container .item .d-flex .btn-cart {
    font-size: 0.9rem; 
    margin-left: 15px;
}

.isotope-container .item .d-flex .btn-wishlist {
    font-size: 1.2rem; 
}

@media (max-width: 768px) {
    .isotope-container .item {
        max-width: 45%; 
        margin: 5px 5px;
    }
    .isotope-container .item .card img {
        max-height: 200px;
        min-height: 199px;
        object-fit: cover; 
    }
    .isotope-container .item .card-body h3 {
        min-height: 10vh;
        max-height: 10vh;
    }
    .isotope-container .item .d-flex .btn-cart {
        margin: auto;
        transform: scale(0.7);
    }
    .isotope-container .item .d-flex .btn-wishlist {
        margin: auto;
        transform: scale(0.7);
        margin-left: 40px;
    }
}

@media (max-width: 480px) {
    .isotope-container .item {
        max-width: 45%; 
        margin: 5px 5px; 
    }
    .isotope-container .item .card img {
        max-height: 200px; 
        min-height: 199px;
        object-fit: cover; 
    }
    .isotope-container .item .card-body h3 {
        min-height: 10vh;
        max-height: 10vh;
    }
    .isotope-container .item .d-flex .btn-cart {
        margin: auto;
        transform: scale(0.7);
    }
    .isotope-container .item .d-flex .btn-wishlist {
        margin: auto;
        transform: scale(0.7);
        margin-left: 40px;
    }
}
