{% extends "admin/templates/baseAdmin_2.html" %}

{% block content %}
    <div class="container-fluid">
        <main class="tm-main">    
            <div class="row tm-row">
                <h2 class="tm-pt-30 tm-color-primary tm-post-title">Adicionar Qtd produtos</h2>
                
                <form action="/quantidade-produto-update" method="POST">
                    <div id="produtos-container">
                        <div class="produto-item form-group">
                            <label for="produto">Produto</label>
                            <input type="text" class="form-control produto" name="produto" required>
                            <ul class="sugestoesproduto list-group" style="display: none; position: absolute; z-index: 1000;"></ul>                            
                            <input type="hidden" class="produto_id" name="produto_id">
                            <br>
                            <label for="qtd_add">Qtd Atual:</label>
                            <input type="number" class="produto_qtd form-control" name="produto_qtd" readonly="">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="qtd_add">Adicionar:</label>
                        <input type="text" class="form-control" id="qtd_add" name="qtd_add">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='staticAdmin/js/search-products-update.js') }}"></script>
{% endblock %}