{% extends "admin/templates/baseAdmin_2.html" %}
{% block content %}
    <div class="container-fluid">
        <main class="tm-main">    
            <div id="produtos" class="row tm-row">
                <div id="top" class="col-12 tm-post">
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">Pagamentos Pendentes</h2>
                    <div class="table-responsive">
                        <table id="tabela-produtos" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><strong>Ações</strong></th>
                                    <th><strong>ID</strong></th>
                                    <th><strong>Produto</strong></th>
                                    <th><strong>Cliente</strong></th>
                                    <th><strong>Valor Total Compra</strong></th>
                                    <th><strong>Qtd. Comprada</strong></th>
                                    <th><strong>Data</strong></th>
                                    <th><strong>Forma Envio</strong></th>
                                    <th><strong>Transporte</strong></th>
                                    <th><strong>Cep</strong></th>
                                    <th><strong>Rua</strong></th>
                                    <th><strong>Bairro</strong></th>
                                    <th><strong>Cidade</strong></th>
                                    <th><strong>Estado</strong></th>
                                    <th><strong>Número</strong></th>
                                    <th><strong>Complemento</strong></th>
                                    <th><strong>Valor Frete</strong></th>
                                    <th><strong>ID Pagamento</strong></th>
                                    <th><strong>Forma Pagamento</strong></th>
                                    <th><strong>Temporário</strong></th>
                                    <th><strong>Observação</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venda in pagamento %}
                                <tr>
                                    <td>
                                        <form action="/aceitar-pagamento-pix-admin" method="POST" style="display: inline;">
                                            <input type="hidden" name="id_pagamento" value="{{ venda[18] }}">
                                            <button type="submit" class="btn btn-success btn-sm">Aceitar</button>
                                        </form>
                                    </td>
                                    <td>{{ venda[0] if venda[0] is not none else '-' }}</td>
                                    <td>{{ venda[2] if venda[2] is not none else '-' }}</td>
                                    <td>{{ venda[4] if venda[4] is not none else '-' }}</td>
                                    <td><strong>R$ {{ venda[17] if venda[17] is not none else '-' }}</strong></td>
                                    <td>{{ venda[5] if venda[5] is not none else '-' }}</td>
                                    <td>{{ venda[6] if venda[6] is not none else '-' }}</td>
                                    <td>{{ venda[7] if venda[7] is not none else '-' }}</td>
                                    <td>{{ venda[8] if venda[8] is not none else '-' }}</td>
                                    <td>{{ venda[9] if venda[9] is not none else '-' }}</td>
                                    <td>{{ venda[10] if venda[10] is not none else '-' }}</td>
                                    <td>{{ venda[11] if venda[11] is not none else '-' }}</td>
                                    <td>{{ venda[12] if venda[12] is not none else '-' }}</td>
                                    <td>{{ venda[13] if venda[13] is not none else '-' }}</td>
                                    <td>{{ venda[14] if venda[14] is not none else '-' }}</td>
                                    <td>{{ venda[15] if venda[15] is not none else '-' }}</td>
                                    <td>{{ venda[16] if venda[16] is not none else '-' }}</td>
                                    <td>{{ venda[18] if venda[18] is not none else '-' }}</td>
                                    <td>{% if venda[19] == "bank_transfer" %} PIX {% elif venda[19] == "credit_card" %} Cartão de Crédito {% else %}Outros{% endif %}</td>
                                    <td>{% if venda[20] == 0 %} Não {% else %} Sim {% endif %}</td>
                                    <td>{{ venda[21] if venda[21] is not none else '-' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="pagination-controls">
                        <button id="btn-anterior" disabled>Anterior</button>
                        <span id="pagina-atual">1</span>
                        <button id="btn-proximo">Próximo</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='/staticAdmin/js/pagination.js') }}"></script>
{% endblock %}