{% extends "admin/templates/baseAdmin_2.html" %}
{% block content %}
    <div class="container-fluid">
        <main class="tm-main">    
            <div id="produtos" class="row tm-row">
                <div id="top" class="col-12 tm-post">
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">Lista de Pedidos</h2>
                    <div class="table-responsive">
                        <table id="tabela-produtos" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><strong>ID</strong></th>
                                    <th><strong>Produto</strong></th>
                                    <th><strong>Cliente</strong></th>
                                    <th><strong>Data Solicitação</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for avisar in avisar %}
                                <tr>
                                    <td>{{ avisar[0] if avisar[0] is not none else '-' }}</td>
                                    <td>{{ avisar[1] if avisar[1] is not none else '-' }}</td>
                                    <td>{{ avisar[2] if avisar[2] is not none else '-' }}</td>
                                    <td>{{ avisar[3] if avisar[3] is not none else '-' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="pagination-controls">
                        <button id="btn-anterior" disabled>Anterior</button>
                        <span id="pagina-atual">1</span>
                        <button id="btn-proximo">Próximo</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='/staticAdmin/js/pagination.js') }}"></script>
{% endblock %}