{% extends "admin/templates/baseAdmin_2.html" %}
{% block content %}
    <div class="container-fluid">
        <main class="tm-main">    
            <div id="produtos" class="row tm-row">
                <div id="top" class="col-12 tm-post">
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">Lista de Clientes</h2>
                    <div class="table-responsive">
                        <table id="tabela-produtos" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><strong>ID</strong></th>
                                    <th><strong>CPF</strong></th>
                                    <th><strong>Nome</strong></th>
                                    <th><strong>Telefone</strong></th>
                                    <th><strong>E-mail</strong></th>
                                    <th><strong>Nascimento</strong></th>
                                    <th><strong>Rua</strong></th>
                                    <th><strong>Numero</strong></th>
                                    <th><strong>Complemento</strong></th>
                                    <th><strong>Cep</strong></th>
                                    <th><strong>Cidade</strong></th>
                                    <th><strong>Estado</strong></th>
                                    <th><strong>Data Cadastro</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cliente in clientes %}
                                <tr>
                                    <td>{{ cliente[0] if cliente[0] is not none else '-' }}</td>
                                    <td>{{ cliente[1] if cliente[1] is not none else '-' }}</td>
                                    <td>{{ cliente[2] if cliente[2] is not none else '-' }}</td>
                                    <td>{{ cliente[3] if cliente[3] is not none else '-' }}</td>
                                    <td>{{ cliente[4] if cliente[4] is not none else '-' }}</td>
                                    <td>{{ cliente[5] if cliente[5] is not none else '-' }}</td>
                                    <td>{{ cliente[6] if cliente[6] is not none else '-' }}</td>
                                    <td>{{ cliente[7] if cliente[7] is not none else '-' }}</td>
                                    <td>{{ cliente[8] if cliente[8] is not none else '-' }}</td>
                                    <td>{{ cliente[9] if cliente[9] is not none else '-' }}</td>
                                    <td>{{ cliente[10] if cliente[10] is not none else '-' }}</td>
                                    <td>{{ cliente[11] if cliente[11] is not none else '-' }}</td>
                                    <td>{{ cliente[12] if cliente[12] is not none else '-' }}</td>
                                    <td>{{ cliente[13] if cliente[13] is not none else '-' }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="pagination-controls">
                        <button id="btn-anterior" disabled>Anterior</button>
                        <span id="pagina-atual">1</span>
                        <button id="btn-proximo">Próximo</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='/staticAdmin/js/pagination.js') }}"></script>
{% endblock %}