#sugestoesproduto,
#sugestoes-cliente {
    display: none;
    position: absolute;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 300px;
}

.sugestao-select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    max-width: 300px;
}

.mensagem-vazia {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #888;
}

.sugestao-select-cliente {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.mensagem-vazia-cliente {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #888;
}



.table-responsive {
    min-width: 1200px; 
    max-width: 1200px; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    margin-bottom: 20px; 
}

#tabela-produtos {
    width: 100%; 
    min-width: 800px; 
    white-space: nowrap; 
}

#tabela-produtos th,
#tabela-produtos td {
    padding: 8px; 
    text-align: left; 
}

@media (max-width: 768px) {
    #tabela-produtos th,
    #tabela-produtos td {
        font-size: 14px; 
        padding: 6px;
    }

    .table-responsive {
        min-width: 300px;
        max-width: 300px;
    }
}