.banner-section {
    height: 60vh;
    overflow: hidden;
}

.img-fluid-slider {
    height: 50vh; 
    width: auto;
}

.img-fluid-log{
    height: 8vh;
}

.img-fluid-products{
    height: 50vh;
}

.img-fluid-log-footer{
    height: 12vh;
}

.carousel-control-next {
    right: 0px;
    top: 50%;
}

.carousel-control-prev {
    left: 0px;
    top: 50%;
}

.carousel-control-next,
.carousel-control-prev {
    width: 45px;
    height: 45px;
    background: #FFA4DB;
    opacity: 1;
    font-size: 20px;
    color: #000;
    border-radius: 100px;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #603F8B;
}

.display-on-mobile{
    display: none;
}

.bg-personality {
    background-image: linear-gradient( to bottom, #FFA4DB 5% , #603F8B 70%, #F9F3EC 15%);
}

.menu-sup-carts{
    max-height: 12vh;
}

.color-circle{
    color: black;
    background-color: black;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top-feedback{
    margin-top: 10vh;
}

.swiper-slide {
    width: 3000px;
}

.products-carousel .swiper-slide {
    width: 220px; /* Reduz o tamanho da largura do produto */
    margin: 0 10px; /* Adiciona um espaço entre os produtos */
}

.products-carousel .swiper-slide .card {
    transform: scale(0.9); /* Reduz o tamanho do cartão para 90% */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.products-carousel .swiper-slide:hover .card {
    transform: scale(1); /* Restaura o tamanho original ao passar o mouse */
}

.products-carousel .swiper-slide .card img {
    max-height: 250px; /* Reduz a altura máxima das imagens */
    object-fit: cover; /* Mantém a proporção e preenche a área */
}

.products-carousel .swiper-slide .card-body h3 {
  font-size: 1.5rem; /* Ajusta o tamanho da fonte do nome do produto */
}

.products-carousel .swiper-slide .card-text .rating {
  font-size: 0.8rem; /* Ajusta o tamanho da avaliação */
}

.products-carousel .swiper-slide .card-text h3 {
  font-size: 1.1rem; /* Ajusta o tamanho do preço */
}

.products-carousel .swiper-slide .d-flex .btn-cart .btn-avise{
  font-size: 0.9rem; /* Ajusta o tamanho do texto no botão de carrinho */
  margin-left: 35px;
}

.products-carousel .swiper-slide .d-flex .btn-wishlist {
  font-size: 1.2rem; /* Ajusta o tamanho do ícone de wishlist */
}

.color-pink{
  color: #FFA4DB
}

.color-purple{
  color: #603F8B
}

.color-pink:hover{
  color: #603F8B
}

.color-purple:hover{
  color:#FFA4DB;
}

.filter-product {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.esgotado-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.esgotado-text-product {
  position: absolute;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.btn-avise {
  margin-left: 3vh;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.btn-cart2 {
  margin-left: 3vh;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}


.product-card-search_products {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  min-width: 500px;
}

.product-link-search_products {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  min-width: 100%;
}

.product-image-search_products {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
  flex-shrink: 0;
}

.product-info-search_products {
  flex-grow: 1; 
  text-align: center;
}

.product-name-search_products {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

.product-price-search_products {
  margin-left: 10px; 
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  color: #007bff;
}

.img-fluid-products-favorites{
    max-width: 200px;
}

.card-text-favorites{
    color: #603F8B;
    font-size: 12px;
}

.card-text-favorites-2{
    color: #603F8B;
    font-size: 18px;
}
  
  @media (max-width: 768px) {
    .img-fluid-products-favorites{
        max-width: 100px;
    }
      
  .product-card-search_products {
      min-width: 50px;
    }
        
    .text-product-mobile{
        font-size: 18px;
    }
    
    .esgotado-text-product {
      left: 45%;
      font-size: 13px;
    }
    .btn-avise{
        transform: scale(0.7);
    }
      
    .btn-secondary{
        margin-right: 6%;
    }
      
    .img-wrapper {
      flex-direction: row; /* Alinha imagem e texto lado a lado */
      justify-content: center; /* Centraliza o conteúdo */
      align-items: center;
    }
  
    .img-wrapper img {
      max-width: 50%; /* Limita o tamanho da imagem */
      height: auto;
    }
  
    .img-wrapper p {
      margin-left: 10px; /* Espaçamento entre a imagem e o texto */
      font-size: 14px; /* Ajusta o tamanho do texto para mobile */
      white-space: nowrap; /* Evita quebra de linha no texto */
    }

    .banner-section {
      height: 40vh;
    }
  
    .img-fluid-slider {
      margin-left: 4vh;
      height: 30vh;
      width: auto;
      margin-bottom: 6vh;
    }
  
    .carousel-control-next,
    .carousel-control-prev {
      width: 35px;
      height: 35px;
      top: 40%;
      font-size: 18px;
    }
  
    .banner-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .text-content {
      font-size: 12px;
    }
  
    .img-wrapper, .content-wrapper {
      flex: 1;
    }
  
    .display-on-mobile {
      display: block;
      order: 2;
    }
    .display-content-none{
        display: none;
    }

    .your-cart-in-mobile{
        max-width: 90%;
    }

    .menu-sup-carts{
        max-height: 12vh;
    }

    iconify-icon.category-icon {
      font-size: 7vh;
    }

    .margin-top-feedback{
      margin-top: 15vh;
    }

    .img-fluid-products{
      height: 30vh;
    }
    
    .products-carousel .swiper-slide .card-text .rating {
      font-size: 1rem; 
    }
    
    .products-carousel .swiper-slide .card-text h3 {
      font-size: 1.8rem;
    }
    
    .products-carousel .swiper-slide .d-flex .btn-cart .btn-avise {
      font-size: 0.9rem;
      margin-left: 65px;
    }
    
  }
  
  @media (max-width: 480px) {
          .text-product-mobile{
        font-size: 18px;
    }
      
    .esgotado-text-product {
      left: 45%;
      font-size: 13px;
    }
    
    .btn-avise{
        transform: scale(0.7);
    }
    
    .banner-section {
      height: 40vh;
    }
  
    .img-fluid-slider {
      margin-left: 4vh;
      height: 20vh;
      width: auto;
      margin-bottom: 6vh;
    }
  
    .carousel-control-next,
    .carousel-control-prev {
      width: 30px;
      height: 30px;
      top: 40%;
      font-size: 16px;
    }
  
    .banner-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .text-content {
      font-size: 10px;
    }
  
    .img-wrapper, .content-wrapper {
      flex: 1;
    }
  
    .display-on-mobile {
      display: block;
      order: 2;
    }

    .display-content-none{
        display: none;
    }

    .your-cart-in-mobile{
        max-width: 80%;
    }

    .menu-sup-carts{
        max-height: 10vh;
    }

    iconify-icon.category-icon {
      font-size: 7vh;
    }

    .margin-top-feedback{
      margin-top: 15vh;
    }

    .img-fluid-products{
      height: 30vh;
    }
    
    .products-carousel .swiper-slide .card-text .rating {
      font-size: 1rem; 
    }
    
    .products-carousel .swiper-slide .card-text h3 {
      font-size: 1.8rem;
    }
    
    .products-carousel .swiper-slide .d-flex .btn-cart .btn-avise{
      font-size: 0.9rem;
      margin-left: 65px;
    }
  }
  