{% extends "base.html" %}
{% block title %}Carrinho de Compras{% endblock %}
{% block content %}
<section id="carrinho" class="my-5">
    <div class="container my-5 py-5">

        <div class="section-header d-md-flex justify-content-between align-items-center">
            <h2 class="display-3 fw-normal">Carrinho</h2>
        </div>

        {% if product_cart %}
        <div id="cart" class="row">
            <div class="col-12">
                <table class="table table-hover shadow rounded bg-light">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="cart-align-price">Produto</th>
                            <th scope="col" class="cart-align-price">Preço</th>
                            <th scope="col" class="cart-align-qtd2"></th>
                            <th scope="col" class="cart-align-qtd">Total</th>
                            <th scope="col" class="cart-align-qtd">Remover</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for product in product_cart %}
                        <tr>
                            <td  class="cart-align-itens-name cart-align-img">
                                {% if product[4] == "Maquiagem" %}
                                <img src="../static/images/maquiagem/{{ product[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-3 me-3" alt="image" style="width: 80px;">
                                {% endif %}
                                {% if product[4] == "Skincare"  %}
                                <img src="../static/images/skincare/{{ product[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-3 me-3" alt="image" style="width: 80px;">
                                {% endif %}
                            </td>
                            <td class="cart-align-itens-quantity cart-align-name">
                                {{ product[1] }}
                            </td>
                            <td class="cart-align-itens-price">R$ {{ product[3] }}</td>
                            <td class="cart-align-itens-quantity cart-align-qtd">
                                <input type="number" class="form-control quantity-input" 
                                       value="{{ product[7] }}" 
                                       id="quantity_{{ product[0] }}" 
                                       data-id="{{ product[0] }}">
                            </td>
                            <td class="total-price cart-align-qtd" name="valor_total_{{ product[0] }}"  data-price="{{ product[3] }}"><strong> R$ {{ product[3] * product[7] }} </strong></td>                            
                            <td>
                                <a class="btn btn-danger remove-item cart-align-qtd" data-id="{{ product[0] }}"><iconify-icon icon="fluent:delete-16-regular"></iconify-icon></a>
                            </td>
                        </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
                <div class="text-end">
                    <h4 class="color-purple">Total: R$ <span id="cart-total">0.00</span></h4><br>
                    <form id="purchase-form" action="/continue-purchase#shipping" method="POST">
                        {% for product in product_cart %}
                        <input type="hidden" name="id_produto_{{ product[0] }}" value="{{ product[0] }}">
                        <input type="hidden" name="quantidade_{{ product[0] }}" id="quantity_{{ product[0] }}" value="{{ product[7] }}" >
                        <input type="hidden" name="valor_total_{{ product[0] }}" id="valor_total_{{ product[0] }}" value="{{ product[3] * product[7] }}">
                        {% endfor %}
                        <button type="submit" class="btn btn-primary px-4 pt-3 pb-3">Prosseguir Compra</button>
                    </form><br><br>
                    <a href="/" class="btn btn-outline-dark px-1 pt-1 pb-1">Ver Mais</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center my-5">
            <h4 class="color-pink">Seu carrinho está vazio</h4>
            <a href="/" class="btn btn-primary px-4 pt-3 pb-3">Continuar Comprando</a>
        </div>
        {% endif %}
    </div>
</section>
<script src="../static/js/cart/details_cart.js"></script>
<script src="../static/js/cart/format_values.js"></script>

{% endblock %}
