{% extends "base.html" %}
{% block title %}LDL - Lujinha de Luxo{% endblock %}
{% block content %}
  <section id="categories">
    <div class="container my-3 py-5">
      <div class="row my-5">
        <div class="col text-center">
          <a href="/skincare#skincare" class="categories-item">
            <iconify-icon class="category-icon" icon="covid:personal-hygiene-hand-sanitizer-liquid-2"></iconify-icon>
            <h5>Skincare</h5>
          </a>
        </div>
        <div class="col text-center">
          <a href="/maquiagem#maquiagem" class="categories-item">
            <iconify-icon class="category-icon" icon="streamline:make-up-brush"></iconify-icon>
            <h5>Maquiagem</h5>
          </a>
        </div>
        <div class="col text-center">
          <a href="#maisvendidosskincare" class="categories-item">
            <iconify-icon class="category-icon" icon="fluent:shopping-bag-add-16-regular"></iconify-icon>
            <h5>Mais Vendidos</h5>
          </a>
        </div>
        <div class="col text-center">
          <a href="#novidades" class="categories-item">
            <iconify-icon class="category-icon" icon="clarity:new-line"></iconify-icon>
            <h5>Novidades</h5>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- MAIS VENDIDOS SKINCARE -->
  <section id="maisvendidosskincare" class="my-5 overflow-hidden">
    <div class="container pb-5">

      <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
        <h2 class="display-3 fw-normal">Mais Vendidos Skincare</h2>
        <div>
          <a href="/skincare#skincare" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Ver Mais
            <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
              <use xlink:href="#arrow-right"></use>
            </svg></a>
        </div>
      </div>

      <div class="products-carousel swiper">
        <div class="swiper-wrapper">
          {% for skincare in skincare %}
          {% if (skincare[4] - skincare[5]) > 0 %}
          <div class="swiper-slide">
            <div class="card position-relative">
              <a href="/produtos/{{skincare[0]}}#produto"><img src="../static/images/skincare/{{ skincare[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-4" alt="image"></a>
              <div class="card-body p-0">
                <a href="/produtos/{{skincare[0]}}#produto"><h3 class="card-title pt-4 m-0">{{ skincare[1] }}</h3></a>
                <div class="card-text">
                  <span class="rating secondary-font">
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    5.0</span>
                  <h3 class="secondary-font text-primary">R$ {{ skincare[2] }}</h3>
                  {% if skincare[6] is none %}
                  <div class="d-flex flex-wrap mt-3">
                    <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3" data-id="{{ skincare[0] }}" data-name="{{ skincare[1] }}" data-price="{{ skincare[2] }}">
                      <h5 class="text-uppercase m-0">+ Carrinho</h5>
                    </a>
                    <a  id="add-favorite" data-id="{{ skincare[0] }}"  class="btn-wishlist px-4 pt-3"><iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon></a>
                  </div>
                  {% else %}
                  <div class="d-flex flex-wrap mt-3">
                    <a href="/produtos/{{skincare[0]}}#produto" class="btn-cart2 me-3 px-4 pt-3 pb-3">
                      <h5 class="text-uppercase m-0">+ Carrinho</h5>
                    </a>
                    <a  id="add-favorite" data-id="{{ skincare[0] }}"  class="btn-wishlist px-4 pt-3"><iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon></a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="swiper-slide">
            <div class="card position-relative">
              <a href="/produtos/{{skincare[0]}}#produto"><img src="../static/images/skincare/{{ skincare[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-4 filter-product" alt="image"></a>
              <div class="card-body p-0">
                <div class="esgotado-text">Esgotado</div>
                <a href="/produtos/{{skincare[0]}}#produto"><h3 class="card-title pt-4 m-0">{{ skincare[1] }}</h3></a>
                <div class="card-text">
                  <span class="rating secondary-font">
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    5.0</span>
                  <h3 class="secondary-font text-primary">R$ {{ skincare[2] }}</h3>
                <div class="d-flex" style="justify-content: center; margin: auto;">
                    <a href="#" class="btn-avise me-3 px-4 pt-3 pb-3" data-id="{{ skincare[0] }}">
                        <h5 class="text-uppercase m-0">Avise-me</h5>
                    </a>
                    <a id="add-favorite" data-id="{{ skincare[0] }}" class="btn-wishlist px-4 pt-3 "><iconify-icon icon="fluent:heart-28-filled"
                            class="fs-5"></iconify-icon></a>
                </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- MAIS VENDIDOS MAQUIAGEM -->
  <section id="maisvendidosmaquiagem" class="my-5 overflow-hidden">
    <div class="container pb-5">

      <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
        <h2 class="display-3 fw-normal">Mais Vendidos Maquiagem</h2>
        <div>
          <a href="/maquiagem#maquiagem" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Ver Mais
            <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
              <use xlink:href="#arrow-right"></use>
            </svg></a>
        </div>
      </div>
      <div class="products-carousel swiper">
        <div class="swiper-wrapper">
          {% for maquiagem in maquiagem %}
          {% if (maquiagem[4] - maquiagem[5]) > 0 %}
          <div class="swiper-slide">
            <div class="card position-relative">
              <a href="/produtos/{{maquiagem[0]}}#produto"><img src="../static/images/maquiagem/{{ maquiagem[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-4" alt="image"></a>
              <div class="card-body p-0">                
                <a href="/produtos/{{maquiagem[0]}}#produto"> <h3 class="card-title pt-4 m-0">{{ maquiagem[1] }}</h3></a>
                <div class="card-text">
                  <span class="rating secondary-font">
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    5.0</span>
                  <h3 class="secondary-font text-primary">R$ {{ maquiagem[2] }}</h3>
                  {% if maquiagem[6] is none %}
                  <div class="d-flex flex-wrap mt-3">
                    <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3" data-id="{{ maquiagem[0] }}" data-name="{{ maquiagem[1] }}" data-price="{{ maquiagem[2] }}">
                      <h5 class="text-uppercase m-0">+ Carrinho</h5>
                    </a>
                    <a  id="add-favorite" data-id="{{ maquiagem[0] }}"  class="btn-wishlist px-4 pt-3 "><iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon></a>
                  </div>
                  {% else %}
                  <div class="d-flex flex-wrap mt-3">
                    <a href="/produtos/{{maquiagem[0]}}#produto" class="btn-cart2 me-3 px-4 pt-3 pb-3">
                      <h5 class="text-uppercase m-0">+ Carrinho</h5>
                    </a>
                    <a  id="add-favorite" data-id="{{ maquiagem[0] }}"  class="btn-wishlist px-4 pt-3"><iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon></a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="swiper-slide">
            <div class="card position-relative">
              <a href="/produtos/{{maquiagem[0]}}#produto"><img src="../static/images/maquiagem/{{ maquiagem[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-4 filter-product" alt="image"></a>
              <div class="card-body p-0">                
              <div class="esgotado-text">Esgotado</div>
                <a href="/produtos/{{maquiagem[0]}}#produto"> <h3 class="card-title pt-4 m-0">{{ maquiagem[1] }}</h3></a>
                <div class="card-text">
                  <span class="rating secondary-font">
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    5.0</span>
                  <h3 class="secondary-font text-primary">R$ {{ maquiagem[2] }}</h3>
                    <div class="d-flex" style="justify-content: center; margin: auto;">
                        <a href="#" class="btn-avise me-3 px-4 pt-3 pb-3" data-id="{{ maquiagem[0] }}">
                            <h5 class="text-uppercase m-0">Avise-me</h5>
                        </a>
                        <a id="add-favorite" data-id="{{ maquiagem[0] }}" class="btn-wishlist px-4 pt-3 "><iconify-icon icon="fluent:heart-28-filled"
                                class="fs-5"></iconify-icon></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- NOVIDADE -->
  <section id="novidades" class="my-5 overflow-hidden">
    <div class="container pb-5">

      <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
        <h2 class="display-3 fw-normal">Novidades</h2>
      </div>
      <div class="products-carousel swiper">
        <div class="swiper-wrapper">
          {% for novidades in novidades %}
          {% if (novidades[5] - novidades[6]) > 0 %}
          <div class="swiper-slide">
            <div class="card position-relative">
              {% if novidades[3] == "Skincare" %}
              <a href="/produtos/{{novidades[0]}}#produto"><img src="../static/images/skincare/{{ novidades[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-4" alt="image"></a>
              {% else %}
              <a href="/produtos/{{novidades[0]}}#produto"><img src="../static/images/maquiagem/{{ novidades[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-4" alt="image"></a>
              {% endif %}
              <div class="card-body p-0"><a href="/produtos/{{novidades[0]}}#produto"> <h3 class="card-title pt-4 m-0">{{ novidades[1] }}</h3></a>
                <div class="card-text">
                  <span class="rating secondary-font">
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    5.0</span>
                  <h3 class="secondary-font text-primary">R$ {{ novidades[2] }}</h3>
                  {% if novidades[7] is none %}
                  <div class="d-flex flex-wrap mt-3">
                    <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3" data-id="{{ novidades[0] }}" data-name="{{ novidades[1] }}" data-price="{{ novidades[2] }}">
                      <h5 class="text-uppercase m-0">+ Carrinho</h5>
                    </a>
                    <a id="add-favorite" data-id="{{ novidades[0] }}"  class="btn-wishlist px-4 pt-3 "><iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon></a>
                  </div>
                  {% else %}
                  <div class="d-flex flex-wrap mt-3">
                    <a href="/produtos/{{novidades[0]}}#produto" class="btn-cart2 me-3 px-4 pt-3 pb-3">
                      <h5 class="text-uppercase m-0">+ Carrinho</h5>
                    </a>
                    <a id="add-favorite" data-id="{{ novidades[0] }}"  class="btn-wishlist px-4 pt-3"><iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon></a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="swiper-slide">
            <div class="card position-relative">
              {% if novidades[3] == "Skincare" %}
              <a href="/produtos/{{novidades[0]}}#produto"><img src="../static/images/skincare/{{ novidades[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-4 filter-product" alt="image"></a>
              {% else %}
              <a href="/produtos/{{novidades[0]}}#produto"><img src="../static/images/maquiagem/{{ novidades[1]|lower|replace(' ', '') }}.png" class="img-fluid rounded-4 filter-product" alt="image"></a>
              {% endif %}
              <div class="card-body p-0">
                <div class="esgotado-text">Esgotado</div>
                <a href="/produtos/{{novidades[0]}}#produto"> <h3 class="card-title pt-4 m-0">{{ novidades[1] }}</h3></a>
                <div class="card-text">
                  <span class="rating secondary-font">
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                    5.0</span>
                  <h3 class="secondary-font text-primary">R$ {{ novidades[2] }}</h3>
                <div class="d-flex" style="justify-content: center; margin: auto;">
                    <a href="#" class="btn-avise me-3 px-4 pt-3 pb-3" data-id="{{ novidades[0] }}">
                        <h5 class="text-uppercase m-0">Avise-me</h5>
                    </a>
                    <a id="add-favorite" data-id="{{ novidades[0] }}" class="btn-wishlist px-4 pt-3 "><iconify-icon icon="fluent:heart-28-filled"
                            class="fs-5"></iconify-icon></a>
                </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="banner-2" class="my-3" style="background: #F9F3EC;">
    <div class="container">
      <div class="row flex-row-reverse banner-content align-items-center">
        <div class="img-wrapper col-12 col-md-6">
          <img src="../static/images/home/extra1.png" class="img-fluid">
        </div>
        <div class="content-wrapper col-12 offset-md-1 col-md-5 p-5">
          <div class="secondary-font text-primary text-uppercase mb-3 fs-4">LDL</div>
          <h2 class="banner-title display-1 fw-normal">Revele a sua Melhor Versão!</h2>
          <a href="/skincare#skincare" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Comprar Agora
            <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
              <use xlink:href="#arrow-right"></use>
            </svg></a>
        </div>

      </div>
    </div>
  </section>
  <section id="register">
    <div class="container ">
      <div class="row my-5 py-5">
        <div class="offset-md-3 col-md-6 my-5 ">
          <h2 class="display-3 fw-normal text-center">Cupom de 10% Off na <span class="text-primary">sua Primeira Compra</span></h2>
        </div>
        <a href="/account" class="btn btn-outline-dark-little btn-lg text-uppercase fs-6 rounded-1">Quero Desconto
          <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
            <use xlink:href="#arrow-right"></use>
          </svg></a>
      </div>
    </div>
  </section>

  <section id="latest-blog" class="my-5">
    <div class="container py-5 my-5">
      <div class="row mt-5">
        <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
          <h2 class="display-3 fw-normal">Veja Nosos Comentários</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 my-4 my-md-0">
          <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1" style="background-color: #603F8B; color: #F9F3EC;">
            <h3 style="color: white;">13</h3>
            <p style="color: white;">DEZ</p>

          </div>
          <div class="card position-relative margin-top-feedback">
            <a><img src="../static/images/feedback/feedback1.png" class="img-fluid rounded-4" alt="image"></a>
            <div class="card-body p-0">
              <h3 class="card-title pt-4 pb-3 m-0 color-text">FeedBack de nossos queridos clientes</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4 my-md-0">
          <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1" style="background-color: #603F8B; color: #F9F3EC;">
            <h3 style="color: white;">24</h3>
            <p style="color: white;">OUT</p>

          </div>
          <div class="card position-relative margin-top-feedback">
            <a><img src="../static/images/feedback/feedback2.png" class="img-fluid rounded-4" alt="image"></a>
            <div class="card-body p-0">
              <h3 class="card-title pt-4 pb-3 m-0 color-text">Produtos selecionado com muito carinho</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4 my-md-0">
          <div class="z-1 position-absolute rounded-3 m-2 px-3 pt-1" style="background-color: #603F8B; color: #F9F3EC;">
            <h3 style="color: white;">27</h3>
            <p style="color: white;">NOV</p>

          </div>
          <div class="card position-relative margin-top-feedback">
            <a><img src="../static/images/feedback/feedback3.png" class="img-fluid rounded-4" alt="image"></a>
            <div class="card-body p-0">
                <h3 class="card-title pt-4 pb-3 m-0 color-text">Dedicação e amor no cuidado com os clientes</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="../static/js/home/pagination-products.js"></script>
{% endblock %}