<div class="modal fade" id="clearCartModal" tabindex="-1" aria-labelledby="clearCartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearCartModalLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja limpar o carrinho? Esta ação não pode ser desfeita.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirm-clear-cart">Limpar Carrinho</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successCartClearModal" tabindex="-1" aria-labelledby="successCartClearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successCartClearModalLabel">Carrinho Limpo</h5>
            </div>
            <div class="modal-body">
                Seu carrinho foi limpo com sucesso!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successCartAddModal" tabindex="-1" aria-labelledby="successCartAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successCartAddModalLabel">Produto Adicionado ao Carrinho</h5>
            </div>
            <div class="modal-body">
                O produto foi adicionado ao seu carrinho com sucesso!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="goToCart()">Ir para o Carrinho</button>
                <button type="button" class="btn btn-primary" onclick="afterclick()">Continuar Comprando</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successCartDeleteModal" tabindex="-1" aria-labelledby="successCartDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successCartDeleteModalLabel">Item Excluído</h5>
            </div>
            <div class="modal-body">
                O item foi excluído do seu carrinho!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="paymentMethodModal" tabindex="-1" aria-labelledby="paymentMethodModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentMethodModalLabel">Escolha o Método de Pagamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center">
                    <h6 style="font-size: 12px; text-align: center; margin-bottom: 10px;">5% de desconto no Pix</h6>
                    <button type="button" class="btn btn-primary" id="pixButton">Pix</button>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="button" class="btn btn-primary" id="creditCardButton">Cartão de Crédito</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="popup-container" id="popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Selecione uma Opção de Variação!</h4>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center">
                    <p>Por favor, escolha uma cor para o produto antes de adicionar ao carrinho.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close-popup"  class="btn btn-primary">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="popup-container" id="popup_favorite_product" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Produto Adicionado aos Favoritos!</h4>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center">
                    <p>O produto foi adicionado aos favoritos com sucesso!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close-popup-success" class="btn btn-primary">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="popup-container" id="popup_favorite_product_erro" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Erro!</h4>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center">
                    <p>Não foi possível adicionar o produto aos favoritos!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close-popup-error" class="btn btn-primary">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script src="../static/js/cart/clicks-notifications.js"></script>
