{% extends "base.html" %}
{% block title %}Pagamento Pendente{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/user/style.css">

<section id="info" class="my-5">
    <div class="container text-center my-5 py-5">
        <div class="card shadow-lg p-4 rounded bg-warning bg-opacity-25" style="max-width: 500px; margin: 0 auto;">
            <h1 style="color: rgb(255, 143, 79); font-size: 2rem;">Pagamento Pendente</h1>
            <p class="mt-3 fs-5 text-muted">Estamos aguardando a confirmação do seu pagamento.</p>
            <p class="fs-5 text-muted">Caso já tenha efetuado o pagamento, envie o comprovante via Whatsapp.</p>
            <a href="https://api.whatsapp.com/send?phone=48991383245&text=Ol%C3%A1,%20realizei%20um%20pagamento%20via%20PIX!" class="btn btn-outline-dark mt-4 px-3 py-2 fs-5">Enviar Comprovante</a>
        </div>
    </div>
</section>
<script src="../static/js/cart/clear_cart_pendding.js"></script>
{% endblock %}
