.delete-for-cart {
    margin-left: 38%;
    font-size: 10px;
    margin-top: 30%;
    max-width: 50%;
}

.modal-content {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    background-color: #F9F3EC;
}

.modal-header {
    background-color: #603F8B;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    text-align: center;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}

.modal-body {
    font-size: 1rem;
    padding: 25px 20px;
    text-align: center;
    color: #555;
    background-color: #F9F3EC;
}

.modal-footer {
    padding: 15px;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    background-color: #F9F3EC;
}

.modal-footer .btn {
    min-width: 120px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.modal-footer .btn-secondary {
    background-color: #603F8B;
    border: none;
    color: #FFF;
}

.modal-footer .btn-secondary:hover {
    background-color: #5a2e75;
}

.modal-footer .btn-danger {
    background-color: #FFA4DB;
    border: none;
    color: #FFF;
}

.modal-footer .btn-danger:hover {
    background-color: #f88fb0;
}

.modal-footer .btn-primary {
    background-color: #603F8B;
    border: none;
    color: #FFF;
}

.modal-footer .btn-primary:hover {
    background-color: #5a2e75;
}

.cart-align-itens-name{
    text-align: left;
}

.cart-align-img{
    max-width: 8vh;
}

.cart-align-name{
    max-width: 10vh;
}

.cart-align-qtd{
    max-width: 5vh;
}

.cart-align-qtd2::before {
    max-width: 5vh;
    content: "Quantidade";
}


.cart-align-itens-quantity {
    text-align: center;
}

.cart-align-itens-quantity .quantity-input {
    display: block;
    margin: 0 auto; 
    width: 80px; 
    height: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    text-align: center;
    outline: none;
}



@media (max-width: 768px) {
    .modal-dialog {
        max-width: 90%;
        position: fixed;
        margin-top: 50%;
        margin-left: 5%;
    }
    .modal-title {
        font-size: 1.1rem;
    }
    .modal-body {
        font-size: 0.95rem;
    }
    .modal-footer .btn {
        font-size: 0.9rem;
    }
    .delete-for-cart {
        margin-left: 30%;
        font-size: 10px;
        margin-top: 20%;
        max-width: 50%;
    }

    .cart-align-itens-name{
        text-align: left;
    }
    
    .cart-align-img{
        max-width: 8vh;
    }
    
    .cart-align-name{
        max-width: 10vh;
    }
    
    .cart-align-qtd{
        font-size: 11px;
        max-width: 5vh;
    }

    .cart-align-qtd2::before {
        font-size: 11px;
        max-width: 5vh;
        content: "Qtd.";
    }

    .cart-align-price{
        font-size: 11px;
        max-width: 5vh;
    }
    
    .cart-align-itens-quantity {
        font-size: 12px;
        text-align: center;
    }

    .cart-align-itens-price {
        font-size: 13px;
        text-align: center;
    }
    
    .cart-align-itens-quantity .quantity-input {
        max-width: 40px; 
        max-height: 10px;
        font-size: 0.8rem;
    }

    .total-price{
        font-size: 12px;
    }

    .remove-item{
        transform: scale(0.8);
    }

    .btn-primary{
        transform: scale(0.8);
    }

    .btn-outline-dark{
        margin-right: 7px;
        transform: scale(0.7);
    }


}

